<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right:50px;">Account Register</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content class="ion-padding animated fadeIn login auth-page">
    <div class="login-content">

        <!-- <div padding-horizontal class="ion-text-center" class="animated fadeInDown" style="padding-top: 15%;">
            <div class="ion-text-center">
                <img src="../../../assets/imgs/logo.png" style="height: auto;width: 300px;">
            </div>

            <h3 style="text-align: center;color: #4d4dff;">Guardian Login</h3>
        </div> -->

        <!-- <h3 style="text-align: center;color: #4d4dff;">Register User</h3> -->



        <form class="list-form">

            <ion-item>
                <ion-label position="floating" style="color: #4d4dff;">
                    <ion-icon name="person" item-start class="text-warning"></ion-icon>
                    First Name
                </ion-label>
                <ion-input type="text" [(ngModel)]="user.username" name="First Name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color: #4d4dff;">
                    <ion-icon name="person" item-start class="text-warning"></ion-icon>
                    Last Name
                </ion-label>
                <ion-input type="text" [(ngModel)]="user.username" name="Last Name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color: #4d4dff;">
                    <ion-icon name="person" item-start class="text-warning"></ion-icon>
                    Phone Number
                </ion-label>
                <ion-input type="number" [(ngModel)]="user.username" name="Phone Number"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color: #4d4dff;">
                    <ion-icon name="person" item-start class="text-warning"></ion-icon>
                    DOB
                </ion-label>
                <ion-input type="date" [(ngModel)]="user.username" name="DOB"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color:#4d4dff;">
                    <ion-icon name="play" item-start class="text-warning"></ion-icon>
                    Register As
                </ion-label>
                <ion-select placeholder="Please select" name="who">
                    <ion-select-option value="gurdian">Patient</ion-select-option>
                    <ion-select-option value="user">Doctor</ion-select-option>
                </ion-select>
            </ion-item>

            <!-- <h3 style="text-align: center;color: #4d4dff;">Guardian Section</h3><br> -->

            <ion-item>
                <ion-label position="floating" style="color: #4d4dff;">
                    <ion-icon name="person" item-start class="text-warning"></ion-icon>
                    Address
                </ion-label>
                <ion-input type="text" [(ngModel)]="user.username" name="Address"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color: #4d4dff;">
                    <ion-icon name="person" item-start class="text-warning"></ion-icon>
                    Email
                </ion-label>
                <ion-input type="email" [(ngModel)]="user.username" name="Email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color:#4d4dff;">
                    <ion-icon name="lock" item-start class="text-warning"></ion-icon>
                    Password
                </ion-label>
                <ion-input type="password" [(ngModel)]="user.password" name="Password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color:#4d4dff;">
                    <ion-icon name="lock" item-start class="text-warning"></ion-icon>
                    Confirm Password
                </ion-label>
                <ion-input type="password" [(ngModel)]="user.password" name="Confirm Password"></ion-input>
            </ion-item>

        </form>
        <!-- <p text-right>
            <ion-text text-right color="primary" tappable end>
                <strong>Forgot Password?</strong>
            </ion-text>
        </p> -->

        <div margin-top>
            <ion-button class="shary" shape="round" icon-start expand="block" color="warning" tappable [routerLink]="['/login']">
                <ion-icon color="light" name="log-in"></ion-icon>
                <p color="light " style="color: #ffffff; ">Register</p>
            </ion-button>


        </div><br>
        <div text-center margin-top>
            <span tappable [routerLink]="[ '/login'] ">
        <ion-text color="primary ">Have an account? <strong style="color: #990099 ">Login here</strong></ion-text>
      </span>
        </div>

    </div>
</ion-content>