<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <!-- <ion-back-button autoHide="false"></ion-back-button> -->
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Correct Sequence
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>

        <ion-grid *ngIf="viewSteps.length == 0" style="margin-top: 50%;">

        </ion-grid>


        <ion-grid *ngIf="viewSteps.length != 0">
            <h2 *ngIf="viewSteps.length != 0">Selected Animals</h2>
            <ion-button *ngIf="viewSteps.length == kim" (click)="results(viewSteps)" expand="block" color="success">Finish</ion-button>
            <ion-row>
                <ion-col *ngFor="let footstep1 of viewSteps; 
                let i = index;" size="4" no-padding (click)="Removefinish(i, footstep1)">
                    <ion-card>
                        <br>
                        <img [src]="footstep1">
                        <h3>animal {{i + 1}}</h3>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <hr *ngIf="viewSteps.length != 0">
        <h2 *ngIf="kimAgain.length != 0">Tick the icons in the order they appeared before</h2>
        <ion-grid *ngIf="kimAgain.length != 0">
            <ion-row>
                <ion-col *ngFor="let footstep of kimAgain; 
                let i = index;" size="4" no-padding (click)="finish(i, footstep)">
                    <ion-card>
                        <br>
                        <img [src]="footstep">
                        <!-- <h3>step {{i + 1}}</h3> -->
                    </ion-card>
                </ion-col>
            </ion-row>
            <!-- <ion-button (click)="finish()" expand="block" color="primary">Finish</ion-button> -->
        </ion-grid>
    </form>

</ion-content>