ion-avatar {
    height: auto;
    width: 60px;
}

ion-img {
    max-width: 100%;
    height: auto;
}

ion-icon {
    color: #E78923;
}

ion-col {
    padding: 0%;
}

ion-icon {
    color: #2A1770;
}

h1 {
    font-size: 19px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    text-align: center;
    color: #2A1770;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 18px;
    color: #2A1770;
    font-weight: bold;
}

ion-card img {
    display: block;
    width: 100%;
}

ion-card {
    text-align: center;
    align-content: center;
    align-self: center;
}

ion-content {
    --background: none;
    background-image: url('./../../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-footer {
    --background: none;
    background-image: url('./../../../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    width: 50%;
    margin: auto;
}