<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h3>{{ title }}</h3>
    <iframe width="100%" style="height: auto;" [src]="url" frameborder="0" allowfullscreen></iframe>
    <ion-label>{{ description }}</ion-label>
</ion-content>