ion-icon {
    color: #2A1770;
}

h3 {
    // text-align: center;
    font-size: 19px;
    color: black;
}

h2 {
    font-size: 19px;
}

ion-card img {
    display: block !important;
    width: 60% !important;
    margin-left: 22% !important;
}

ion-card {
    text-align: center;
    align-content: center;
    align-self: center;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    margin-top: 0.8em;
}

ion-card h3 {
    margin-top: 10px;
    margin-bottom: -5px;
}