<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Remediation
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    Remediation will have our sample of the steps to do a problem for each of the tutoring categories (e.g., long division of no remainder, long division up to two decimals, long division of repeating numbers etc
</ion-content>