<ion-content>
    <h5 style="margin-left: 5px;"> Log Standings</h5>
    <div class="ptable" id="outer">

        <table>
            <tr class="col">
                <th>#</th>
                <th>Team</th>
                <th>W</th>
                <th>L</th>
                <th>PTS</th>

            </tr>
            <tr class="wpos">
                <td>1</td>
                <td>University of Zimbabwe</td>
                <td>5</td>
                <td>0</td>
                <td>30</td>
            </tr>
            <tr class="wpos">
                <td>2</td>
                <td>University of Zimbabwe</td>
                <td>5</td>
                <td>0</td>
                <td>30</td>
            </tr>

        </table>
    </div>

</ion-content>