// ion-card img {
//     display: block;
//     width: 60% !important;
//     margin-left: 22% !important;
// }
ion-card img {
    display: block;
    width: 30% !important;
    margin-left: 38% !important;
}

.alertCancel {
    --background: red;
    button.alertButton {
        color: white;
    }
}

ion-alert {
    --background: red !important;
}

@media (prefers-color-scheme: light) {
    body {
        --ion-background-color: rgb(240, 248, 240);
    }
    ion-alert {
        --ion-background-color: #11e222;
    }
}

hr {
    border: 6px solid #3F547F;
    border-radius: 5px;
}

@media (orientation: landscape) {
    // body {
    //     background-color: red !important;
    // }
    // img {
    //     width: 10% !important;
    // }
    ion-card img {
        display: block;
        width: 15% !important;
        margin-left: 38% !important;
    }
}