<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button autoHide="false"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Math Symbols
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h1 *ngIf="nextLevel" style="text-align: center;">Now on Level {{ nextLevel }}</h1>

    <div>
        <ion-button tappable color="warning" expand="block" style="color: white;" (click)="presentAlertConfirm()">Reset Game</ion-button>
    </div>

    <div *ngIf="hideTop == 'false'">
        <div id="numberofsteps" *ngIf="clickedNum == 'false'">
            <h2>Choose the number of math symbols</h2>

            <ion-select placeholder="Select the number of steps you want" name="choosenNum" [(ngModel)]="choosenNum">
                <ion-select-option *ngFor="let footstep of myNumbers; 
                let i = index;">{{ footstep.num }}</ion-select-option>
            </ion-select>

            <ion-button tappable (click)="numberofSteps()" color="primary" expand="block">Submit</ion-button>
        </div>
    </div>

    <div id="numberofsteps" *ngIf="numberOfColors == 'true'">
        <h2>Choose the number of Colors</h2>

        <ion-select placeholder="Select Number of Symbols you want" [(ngModel)]="chooseColor">
            <ion-select-option *ngFor="let footstep of myColors; 
            let i = index;">{{ footstep.color }}</ion-select-option>
        </ion-select>

        <ion-button tappable (click)="solutionFun()" color="primary" expand="block">Submit</ion-button>
    </div>

    <div *ngIf="clickedNum == 'true'">
        <ion-grid *ngIf="showImage">
            <ion-row>
                <ion-col size="4" no-padding *ngIf="Kim[0]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[0]">
                        <h3>math 1</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" no-padding *ngIf="Kim[1]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[1]">
                        <h3>math 2</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" no-padding *ngIf="Kim[2]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[2]">
                        <h3>math 3</h3>
                    </ion-card>
                </ion-col>
            </ion-row>
            <!-- <ion-button expand="block" (click)="first('false')" color="primary">Next</ion-button> -->
        </ion-grid>

        <ion-grid *ngIf="showImage2">
            <ion-row>
                <ion-col size="4" no-padding *ngIf="Kim[3]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[3]">
                        <h3>math 4</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" no-padding *ngIf="Kim[4]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[4]">
                        <h3>math 5</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" no-padding *ngIf="Kim[5]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[5]">
                        <h3>math 6</h3>
                    </ion-card>
                </ion-col>
            </ion-row>
            <!-- <ion-button expand="block" (click)="second('false')" color="primary">Next</ion-button> -->
        </ion-grid>

        <ion-grid *ngIf="showImage3">
            <ion-row>


                <ion-col size="4" *ngIf="Kim[6]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[6]">
                        <h3>math 7</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" no-padding *ngIf="Kim[7]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[7]">
                        <h3>math 8</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" *ngIf="Kim[8]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[8]">
                        <h3>math 9</h3>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="showImage4">
            <ion-row>


                <ion-col size="4" *ngIf="Kim[9]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[9]">
                        <h3>math 10</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" *ngIf="Kim[10]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[10]">
                        <h3>math 11</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" no-padding *ngIf="Kim[11]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[11]">
                        <h3>math 12</h3>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="showImage5">
            <ion-row>


                <ion-col size="4" *ngIf="Kim[12]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[12]">
                        <h3>math 13</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" *ngIf="Kim[13]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[13]">
                        <h3>math 14</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" *ngIf="Kim[14]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[14]">
                        <h3>math 15</h3>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="showImage6">
            <ion-row>
                <ion-col size="4" no-padding *ngIf="Kim[15]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[15]">
                        <h3>math 16</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" *ngIf="Kim[16]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[16]">
                        <h3>math 17</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" *ngIf="Kim[17]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[17]">
                        <h3>math 18</h3>
                    </ion-card>
                </ion-col>


            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="showImage7">
            <ion-row>
                <ion-col size="4" *ngIf="Kim[18]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[18]">
                        <h3>math 19</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" no-padding *ngIf="Kim[19]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[19]">
                        <h3>math 20</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" *ngIf="Kim[20]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[20]">
                        <h3>math 21</h3>
                    </ion-card>
                </ion-col>


            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="showImage8">
            <ion-row>
                <ion-col size="4" *ngIf="Kim[21]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[21]">
                        <h3>math 22</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" *ngIf="Kim[22]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[22]">
                        <h3>math 23</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" no-padding *ngIf="Kim[23]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[23]">
                        <h3>math 24</h3>
                    </ion-card>
                </ion-col>

                <ion-col size="4" *ngIf="Kim[24]">
                    <ion-card>
                        <br>
                        <img [src]="Kim[24]">
                        <h3>math 25</h3>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="myButton">
            <ion-row>
                <ion-button expand="block" (click)="choose(Kim)" color="primary">Continue...</ion-button>
            </ion-row>
        </ion-grid>
    </div>
    <hr>

</ion-content>