<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button autoHide="false"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Preparation
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <p>
        Preparation. <a download="Yourfamilyclinic Symbols Handout" href="../../assets/pdfs/symbols2.pdf" target="_blank">Download Symbols Handout.</a> Make multiple copies of the sheets and then print them out. Card stock works best, but regular copy
        paper is sufficient. Cut up each sympol into same size squares so that you have about 100 total squares. You do not have to use all 7 symbols, you can use less of them to make it easier. Divide up the squares into two equal piles with each pile
        containing the same number of each symbol. Obtain a small divider or cover so that the participant can not see you work when setting up the sequence (a large tissue box is usually ideal.
    </p>


    <h1>Step by Step Instructions.</h1>

    <ol>
        <p>1. At a table, sit across from the participant (the participant should be older than 10 years old). </p>

        <p>2. Give the participant one stack of math symbols from the preparation above.</p>

        <p>3. Keep the second pile for yourself. </p>

        <p>
            4. Behind the cover or shield or small box (e.g., tissue box), place squares of different math symbols where the participant cannot see the symbols. Place the symbols in a straight line touching each other. The symbols should make a straight line dividing
            the table between you and the participant.
        </p>

        <p>5. Expose the symbols (usually a second for each symbol, longer if necessary). </p>

        <p>6. Cover the symbols and have the participant use their symbols to make a duplicate of what is covered. Make sure their reproduction is in the same order and same orientation as the three symbols that you put down.</p>

        <p>7. Expose the symbols again and allow the participant to make corrections if necessary. </p>

        <p>8. Cover up the symbols and have the participant put their symbols back in a pile.</p>

        <p>9. To the three symbols that you put down, lay two more symbols down (notice that you will be laying down the symbols from right to left and the participant will be laying symbols down from left to right. If you want, you can ask the question:
            If I put two more symbols down, how many will we have? (the answer will be 5 symbols)</p>

        <p>10. Expose the 5 symbols (for about 5 seconds, longer if necessary).</p>

        <p>11. Cover the symbols and have the participant put down five symbols in sequential order and going left to right.</p>

        <p>12. Expose your five symbols and allow the participant to make corrections if necessary.</p>

        <p>13. Cover the symbols and have the participant put up their symbols in their pile making sure that they mix up the symbols or the participant puts the symbols into stacks of identical symbols. Do not let the participant arrange the symbols so
            that they can do the next trial without using their memory.</p>

        <p>14. Add two more symbols to the covered line of symbols. If you want, you can ask the question: If we add two more symbols, how many symbols will we have? The answer should be 7.</p>

        <p>15. Continue steps 12 through 14 adding two more symbols each time. </p>

        <p>16. When you get to 8 symbols, put the 8th symbol right underneath and touching the 1st symbol. (from the participant's perspective it will be on top of the first symbol).</p>

        <p>17. Continue steps 12 through 14 adding two more symbols each time until you have 21 symbols. Note that the 15th symbol is underneath the 8th symbol(or from the participant's perspective on top of the 8th symbol).</p>

        <p>18. At first you may have to quit the exercise at the 13th symbol, because of the participant's level of frustration. It may take a while before you will be able to advance past the 13th symbol. Always push the student towards more and more progress
            without getting them so frustrated that they start to cry or withdrawal. Try to keep this exercise in a pleasant atmosphere and game like. Keep it as fun as possible. </p>

        <p>19. The game is started the next day or session with different symbols and different order. </p>

        <p>20. Mastery is reached when on a consistent basis, the participant is able to put 21 symbols in sequential order without making mistakes, following this procedure. </p>
    </ol>
</ion-content>