<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button autoHide="false"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Symbols List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Choose your Symbol to continue...</h3>
    <ion-grid>
        <ion-row>
            <ion-col size="6" no-padding [routerLink]="['footprints']">
                <ion-card>
                    <br>
                    <img src="./../../../assets/imgs/graphics/2.png">
                    <h3>Foot steps</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['animals']">
                <ion-card>
                    <br>
                    <img src="./../../../assets/imgs/animals/lion.png">
                    <h3>Animals</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['anime']">
                <ion-card>
                    <br>
                    <img src="./../../../assets/imgs/anime/ani.png">
                    <h3>Anime</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['math']">
                <ion-card>
                    <br>
                    <img src="./../../../assets/imgs/math/maths1.png">
                    <h3>Math</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>