ion-card img {
    display: block;
    width: 30% !important;
    margin-left: 38% !important;
}


/* DOES NOT WORK - not specific enough */

.alert-wrapper {
    background: #e5e5e5;
}


/* Works - pass "my-custom-class" in cssClass to increase specificity */

.my-custom-class .alert-wrapper {
    background: #e5e5e5;
}

// .my-custom-class {
//     --background: #e5e5e5;
//   }
@media (orientation: landscape) {
    // body {
    //     background-color: red !important;
    // }
    // img {
    //     width: 10% !important;
    // }
    ion-card img {
        display: block;
        width: 15% !important;
        margin-left: 38% !important;
    }
}