<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button autoHide="false"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Foot steps
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="showImage">
        <ion-row>
            <ion-col size="4" no-padding>
                <ion-card>
                    <br>
                    <img [src]="footsteps[0]">
                    <h3>step 1</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding>
                <ion-card>
                    <br>
                    <img [src]="footsteps[1]">
                    <h3>step 2</h3>
                </ion-card>
            </ion-col>

            <ion-col size="4" no-padding>
                <ion-card>
                    <br>
                    <img [src]="footsteps[2]">
                    <h3>step3</h3>
                </ion-card>
            </ion-col>
        </ion-row>
        <!-- <ion-button expand="block" (click)="first('false')" color="primary">Next</ion-button> -->
    </ion-grid>

    <ion-grid *ngIf="showImage2">
        <ion-row>
            <ion-col size="6" no-padding>
                <ion-card>
                    <br>
                    <img [src]="footsteps[3]">
                    <h3>step 4</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding>
                <ion-card>
                    <br>
                    <img [src]="footsteps[4]">
                    <h3>step 5</h3>
                </ion-card>
            </ion-col>
        </ion-row>
        <!-- <ion-button expand="block" (click)="second('false')" color="primary">Next</ion-button> -->
    </ion-grid>

    <ion-grid *ngIf="showImage3">
        <ion-row>
            <ion-col size="6" no-padding>
                <ion-card>
                    <br>
                    <img [src]="footsteps[5]">
                    <h3>step 6</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-card>
                    <br>
                    <img [src]="footsteps[6]">
                    <h3>step 7</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="showImage3">
        <ion-row>
            <ion-col size="6" no-padding *ngIf="footsteps[7]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[7]">
                    <h3>step 8</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[8]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[8]">
                    <h3>step 9</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[9]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[9]">
                    <h3>step 10</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[10]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[10]">
                    <h3>step 11</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="showImage3">
        <ion-row>
            <ion-col size="6" no-padding *ngIf="footsteps[11]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[11]">
                    <h3>step 12</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[12]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[12]">
                    <h3>step 13</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[13]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[13]">
                    <h3>step 14</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[14]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[14]">
                    <h3>step 15</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="showImage3">
        <ion-row>
            <ion-col size="6" no-padding *ngIf="footsteps[15]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[15]">
                    <h3>step 16</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[16]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[16]">
                    <h3>step 17</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[17]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[17]">
                    <h3>step 18</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[18]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[18]">
                    <h3>step 19</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="showImage3">
        <ion-row>
            <ion-col size="6" no-padding *ngIf="footsteps[19]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[19]">
                    <h3>step 20</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[20]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[20]">
                    <h3>step 21</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[21]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[21]">
                    <h3>step 22</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[22]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[22]">
                    <h3>step 23</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="showImage3">
        <ion-row>
            <ion-col size="6" no-padding *ngIf="footsteps[23]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[23]">
                    <h3>step 24</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" *ngIf="footsteps[24]">
                <ion-card>
                    <br>
                    <img [src]="footsteps[24]">
                    <h3>step 25</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="myButton">
        <ion-row>
            <ion-button expand="block" (click)="choose(footsteps)" color="primary">Continue...</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>