<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Algebra
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <h2>Links to YouTube Videos</h2>

    <ion-list>
        <ion-item>
            <ion-icon name="videocam" color="primary"></ion-icon>
            <ion-label>
                <a target="_blank" href="https://www.youtube.com/results?search_query=Kahn+Academy">Introduction to long division</a>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-icon name="videocam" color="primary"></ion-icon>
            <ion-label>
                <a href="https://www.youtube.com/results?search_query=Kahn+Academy">Introduction to long division</a>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-icon name="videocam" color="primary"></ion-icon>
            <ion-label>
                <a href="https://www.youtube.com/results?search_query=Kahn+Academy">Introduction to long division</a>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-icon name="videocam" color="primary"></ion-icon>
            <ion-label>
                <a href="https://www.youtube.com/results?search_query=Kahn+Academy">Introduction to long division</a>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-icon name="videocam" color="primary"></ion-icon>
            <ion-label>
                <a href="https://www.youtube.com/results?search_query=Kahn+Academy">Introduction to long division</a>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary"></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>