<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" text-center>
            Academic Services
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" no-padding>

                <ion-card padding href="https://students.uz.ac.zw/webmail/">
                    <img src="../../assets/icon/png/email.png">
                    <h3>Emails</h3>
                </ion-card>
                <hr>

                <ion-card padding href="http://www.tsime.uz.ac.zw/">
                    <img src="../../assets/icon/png/tsime.png" style="height: 71.2px;width: 71.2px;">
                    <h3>Tsime</h3>
                </ion-card>
                <hr>

                <ion-card padding (click)="notices();">
                    <img src="../../assets/icon/png/question.png">
                    <h3>Notices</h3>
                </ion-card>
                <hr>

            </ion-col>

            <ion-col size="6" no-padding>

                <ion-card padding href="http://library.uz.ac.zw/">
                    <img src="../../assets/icon/png/bookshelf.png">
                    <h3>Library</h3>
                </ion-card>
                <hr>

                <ion-card padding href="https://www.emhare.uz.ac.zw/Users/login">
                    <img src="../../assets/icon/png/uz-emhare.jpg" style="height: 71.2px;width: 71.2px;">
                    <h3>Emhare</h3>
                </ion-card>

                <hr>

                <ion-card padding (click)="events();">
                    <img src="../../assets/icon/png/text-lines.png">
                    <h3>Events</h3>
                </ion-card>
                <hr>

            </ion-col>

        </ion-row>
    </ion-grid>



</ion-content>