<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Training
        </ion-title>
        <ion-buttons slot="end" [routerLink]="['/sequential']">
            <ion-icon tappable color="light" name="arrow-forward"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <h1>The Sequential Memory Exercise</h1>

    <p>
        Training will be the information with the footprints or math symbols, etc. Starting in fifth grade (sometimes sooner), children learn how do complex math problems such as long division and pre-algebra. They should already have their math facts stored
        in long term memory and to be able to manipulate numbers well. For some children, they reach a glass ceiling that they feel is impossible to overcome in learning math. While they did well in math before, they find themselves unable to progress
        in math when introduced to long division and algebra. This is usually caused by deficits in sequential memory.
    </p>

    <p>
        Sequential memory is the ability to remember steps or sequences. The steps of a complex math problem have to be remembered in the correct order. Rules have to be remembered and applied in solving complex math problems. Sequential memory is what helps
        children remember steps and the proper order of these steps. The following exercise will develop sequential memory in children who have adequate long term memory but are lacking in sequential memory. If long term memory has not been developed,
        work on long term memory first (e.g., the multiplication tables) and then progress to sequential memory.
    </p>

    <p>
        <b>Materials Needed.</b> <a download="Yourfamilyclinic Symbols Handout" href="../../assets/pdfs/symbols2.pdf" target="_blank">Symbols Handout</a> and a cover or shield (e.g., Kleenex box, empty bank check box).
    </p>

    <!-- <ion-buttons> -->
    <ion-button expand="block" [routerLink]="['/sequential']" color="success">Next</ion-button>
    <!-- </ion-buttons> -->
</ion-content>