ion-label {
    display: block;
}

ion-content {
    --background: none;
    background-image: url('../../assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: #3F547F;
}

ion-img {
    width: 80%;
    margin: auto;
}