<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Contact Us
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-img src="../../assets/imgs/phone.png"></ion-img>

    <h2>Don't hesitate to contact us</h2>

    <ion-label>
        Phone:
        <ion-icon name="phone-portrait" color="primary"></ion-icon><a href="tel: 601 408 7203">(601) 408-7203</a>
    </ion-label>

    <ion-label style="margin-top: 2%;">
        Call Us:
        <ion-icon name="call" color="primary"></ion-icon> <a href="tel: 601 544 8935">(601) 544-8935</a>
    </ion-label>

    <h2>Send us an Email</h2>
    <ion-label>
        <ion-icon name="chatboxes" color="primary"></ion-icon> <a href="mailto:dan@yourfamilyclinic.com">dan@yourfamilyclinic.com</a>
    </ion-label>

    <h2>Visit Our Website</h2>
    <ion-label>
        <ion-icon name="globe" color="primary"></ion-icon> <a href="https://www.yourfamilyclinic.com">yourfamilyclinic.com</a>
    </ion-label>

    <h2>Like us on Facebook</h2>
    <ion-label>
        <ion-icon name="facebook" color="primary"></ion-icon> <a href="https://www.yourfamilyclinic.com">yourfamilyclinic</a>
    </ion-label>

    <h2>Follow us on Twitter</h2>
    <ion-label>
        <ion-icon name="twitter" color="primary"></ion-icon> <a href="https://www.yourfamilyclinic.com">@yourfamilyclinic</a>
    </ion-label>

</ion-content>