<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Contact Us
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-img src="../../assets/imgs/phone.png"></ion-img>

    <h2>Don't hesitate to contact us</h2>

    <ion-label>
        Phone: <a href="601 408 7203">(601) 408-7203</a>
    </ion-label>

    <ion-label style="margin-top: 2%;">
        Call Us: <a href="601 544 8935">(601) 544-8935</a>
    </ion-label>

    <h2>Send us an Email</h2>
    <ion-label>
        Email: <a href="mailto:dan@yourfamilyclinic.com">dan@yourfamilyclinic.com</a>
    </ion-label>

</ion-content>