ion-card img {
    display: block;
    width: 30% !important;
    margin-left: 38% !important;
}

hr {
    border: 6px solid #3F547F;
    border-radius: 5px;
}

@media (orientation: landscape) {
    // body {
    //     background-color: red !important;
    // }
    // img {
    //     width: 10% !important;
    // }
    ion-card img {
        display: block;
        width: 25% !important;
        margin-left: 38% !important;
    }
}