/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-img {
    max-width: 100%;
    height: auto;
}

// ion-icon {
//     color: #990099;
//     color: #4d4dff;
// }
ion-col {
    padding: 0%;
}

h1 {
    font-size: 19px;
    font-weight: bold;
}

h2 {
    font-size: 17px;
    text-align: center;
    color: #4d4dff;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 15px;
    color: #4d4dff;
    font-weight: bold;
}

ion-card img {
    display: block;
    width: 100%;
}

ion-card {
    text-align: center;
    align-content: center;
    align-self: center;
}

ion-content {
    --background: none;
    background-image: url('assets/imgs/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-button {
    width: 100%;
    margin-top: 10%;
}

ion-select-option {
    text-align: center;
}

input {
    width: 50%;
    margin: auto;
}

ion-button {
    color: white;
}

.menu-icon {
    font-size: 40px;
}

.title {
    font-size: 21px;
    text-align: center;
}

ion-header ion-icon.back-button-icon.icon {
    color: #E7E9E5;
}

ion-menu-button {
    color: #E7E9E5;
    font-size: 30px;
}